<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="lib/ionic-monthpicker/dist/ionic-monthpicker.js"></script>
</head>
<body>
<ion-view view-title="Login" name="login-view" style="background-color:#ecf0f1">
    <ion-content class="padding" style="padding-left: 10%;width: 90%;padding-top:25%">
      <div style="text-align:center;font-weight:bolder;font-family: 'Raleway', sans-serif;color: #1abc9c;font-size: 22px;">
        Welcome to VA</div>
        <br>
        <div class="list list-inset">
            <label class="item item-input" style="border:0px">
               <i class="icon ion-android-person" style="color: gray !important;padding-right: 15px;"></i>
                <input type="text" placeholder="email address" ng-model="account.email">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input" style="border:0px">
                <i class="icon ion-locked" style="color: gray !important;padding-right: 15px;"></i>
                <input type="password" ng-hide="showpassword" placeholder="Password" ng-model="account.password">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="login()" style="background-color:#85eed9;font-family: 'Raleway', sans-serif;font-weight:bolder">Login</button>
    </ion-content>
</ion-view>
  </body>
</html>
